<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="UTF-8">

  <title>Product</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/home.css}">


  <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;600;700&display=swap"
        rel="stylesheet">

</head>

<body>

<header class="navbar">

  <div class="logo">
    MEKO
  </div>

    <nav>
        <a th:href="@{/}">Trang chủ</a>
        <a href="#">Khám phá</a>
        <a href="#">Câu chuyện</a>
        <a th:href="@{/voucher}">Voucher</a>
        <a th:href="@{/category}">Cate</a>
        <a th:href="@{/product}">Product</a>
    </nav>
  <div class="user-menu">

    <button class="user-btn">
      Hi, <span th:text="${username}"></span>
    </button>

    <div class="dropdown-content">

      <a th:href="@{/profile}">Profile</a>

      <a href="/orders">My Orders</a>

      <form action="/logout" method="post">
        <button type="submit" class="logout-btn">
          Logout
        </button>

        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}">
      </form>

    </div>

  </div>

</header>
<h2>Danh sách sản phẩm</h2>
<div class="action-bar">
    <a th:href="@{/product/create-product}" class="btn-add">
        + Tạo thêm Sản Phẩm
    </a>
</div>

<div class="product-grid">

    <div class="product-card"
         th:each="product : ${products}">

        <img th:src="${product.imageUrl}"
             alt="product">

        <div class="product-content">

            <h3 th:text="${product.productName}"></h3>

            <p th:text="${product.description}"></p>

            <p>
                Giá:
                <strong th:text="${product.price} + ' VNĐ'"></strong>
            </p>

            <p>
                Danh mục:
                <span th:text="${product.category.categoryName}"></span>
            </p>

            <button class="btn-buy">
                Thêm vào giỏ hàng
            </button>
            <a href="#"
               class="btn-delete"
               th:attr="data-url=@{/product/delete/{id}(id=${product.id})}"
               onclick="openDeleteModal(this)">

                🗑

            </a>

        </div>

    </div>

</div>
<!-- Delete Modal -->
<div id="deleteModal" class="modal-overlay">

    <div class="modal-box">

        <div class="modal-icon">
            ⚠️
        </div>

        <h3>Xác nhận xóa</h3>

        <p>
            Bạn có chắc muốn xóa sản phẩm này không?
        </p>

        <div class="modal-actions">

            <button class="btn-cancel-modal"
                    onclick="closeDeleteModal()">

                Hủy

            </button>

            <a id="confirmDeleteBtn"
               href="#"
               class="btn-confirm-delete">

                Xóa

            </a>

        </div>

    </div>

</div>

<footer>


  <h3>MEKO</h3>

  <p>
    Digital Storytelling & Cultural Souvenir
  </p>

</footer>

</body>
<script>

    function openDeleteModal(button) {

        const url = button.getAttribute("data-url");

        document
            .getElementById("confirmDeleteBtn")
            .setAttribute("href", url);

        document
            .getElementById("deleteModal")
            .classList.add("show");

    }

    function closeDeleteModal() {

        document
            .getElementById("deleteModal")
            .classList.remove("show");

    }

    window.onclick = function(event) {

        const modal =
            document.getElementById("deleteModal");

        if (event.target === modal) {

            closeDeleteModal();

        }

    }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</html>